        body{
            background-color: #373737;
            font-family: "Montserrat", sans-serif;
        }

        .navbar .estoy { color: #f1c40f !important; }
        h2 { 
            color: #ffffff;
            font-size: 36px; 
            font-weight: 600;
            text-align: center;
            width: 100%;
        }
        
        .nav-links a {
            font-size: 24px; 
            font-weight: 600; 
        }
        
        .navbar {
            display: flex;
            justify-content: space-between; 
            align-items: center;
            background-color: #373737;
            height: 70px;
            padding: 0 60px;
        }
        .navbar a:first-child { 
            display: flex;
            align-items: center;
            text-decoration: none;
        }
        .navbar .logo {
            height: 120px;
            width: auto;
        }
        .marca {
            display: none; 
        }
        .nav-links {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex; 
            gap: 45px;
        }
.nav-links li {
    margin: 0; 
}
.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600; 
}
.menu-hamburguesa {
    display: none; 
}
        

h3{
    text-align: center;
    color: #ffffff;
    font-family:'Monserrat';

}
h4{
    color: #ffffff;
    text-align: center;
    font-family: 'Monserrat';
}

.form-container {
    background-color: #232323; 
    max-width: 950px; 
    margin-left: auto;
    margin-right: auto;
}


.form-control-custom {
    background-color: #ffffff; 
    border: none; 
    color: #ffffff; 
    height: 60px; 
}


.textarea-custom {
    height: 250px;
    resize: vertical; 
}

.col-md-6 .flex-grow-1 {
    display: flex;
    flex-direction: column;
}




.iframe{
    text-align: center;
    margin: 0 auto;
    border-radius: 25px;
    border: none;
    display: block;
}
.contenedor-general{
    background-color: #232323; 
    border-radius: 25px; 
    padding: 30px;
    font-family: 'Monserrat' sans-serif;

}
.titulo-separado{
    font-size: 1.4rem;
    font-weight: 950;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}
.bloque-contenedor{
    color: #ffffff;
    background-color: #232323;
    font-family: 'Monserrat' sans-serif;
    width: 90%;
    max-width: 950px;
    margin: 0 auto;
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.contacto-item{
    font-size: 1.2rem;
    font-weight: 950px;
    margin: 15px auto;
    display: flex;
    align-items: left;
    max-width: 300px;
}
.horario-item{
    font-family: 'Monserrat' sans-serif;
    font-weight: 600;
    
    text-align: left;
}
.bi-telephone{
    color: #f1c40f;
    text-align: left;
    width: 45px; 
    height: 45px;
}
.bi-whatsapp{
    color: #f1c40f;
    text-align: left;
    width: 45px; 
    height: 45px;
}
.bi-envelope-at{
    color: #f1c40f;
    text-align: left;
    width: 45px; 
    height: 45px;
}
.footer-custom {
    background-color: #232323 !important;
    padding: 30px 60px !important;
}

.footer-button {
    background-color: #f1c40f !important;
    color: #000000 !important; 
    padding: 15px 35px !important;
    border-radius: 16px !important; 
    font-size: 18px !important;
    font-weight: 600 !important;
    border: none;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.footer-button:hover{
    background-color: #f1c40f;
    color: #000000;
}
.footer-icon {
    display: block;
    font-size: 2.2rem; 
    color: #f1c40f; 
}
  footer p {
            font-size: 0.9rem; 
        }


        @media screen and (max-width: 992px) {
            .navbar {
                height: 100px;
                padding: 0 20px;
                justify-content: space-between;
            }
            .navbar .logo {
                height: 80px;
            }
            .nav-links {
                flex-direction: column; 
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh; 
                background-color: rgba(0, 0, 0, 0.95); 
                align-items: center;
                justify-content: center; 
                transform: translateX(100%); 
                z-index: 99; 
            }
            .nav-links li {
                margin: 10px auto;
            }
            .nav-links.active {
                transform: translateX(0);
            }
            .menu-hamburguesa {
                display: block; 
                background-color: #f1c40f; 
                border: none;
                border-radius: 50%; 
                width: 60px;
                height: 60px;
                cursor: pointer;
                padding: 10px;
                position: relative; 
                z-index: 100; 
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }
            .menu-hamburguesa div {
                width: 100%;
                height: 4px;
                background-color: #333; 
                margin: 6px auto; 
                border-radius: 2px;
            }
                .footer-custom {
        text-align: center;
        padding: 20px 15px !important; 
    }
    .footer-button {
        max-width: max-content;
        margin-bottom: 20px;
    }
        }



@media (max-width: 767.98px) {
    .form-control-custom {
        height: 50px; 
    }
    .textarea-custom {
        min-height: 150px;
    }
}

.btn-custom-submit {
    background-color: #FFC107; 
    border: none;
    color: #000;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 5px;
}

.btn-custom-submit:hover {
    background-color: #e0a800;
    color: #000;
}